@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
.scrollable{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.insideDP{
  scrollbar-width: 0px;
}

.chatting{
  -ms-overflow-style: none; 
  scrollbar-width:none; 
}

.chatting::-webkit-scrollbar {
  display: none;
}

#listUL li{
  width: 100%;
  text-decoration: none;
  flex-direction: row-reverse;
}

.sent{
  text-align: end;
  float: right;
  width: auto;
  max-width: 45%;
}

.green{
  margin: 5px;
  text-align: start;
  width: auto;
  padding: 10px;
  background-color: #005c4b;
  border-radius: 15px 15px 0px;
}

#sentlabel{
  color: #94bab3;
  display: block;
  text-align: end;
  font-size: x-small;
}

.recieved{
  float: left;
  width: 45%;
  max-width: 45%;
  background-color: red;

}


.grey{
  max-width: 80%;
  margin: 5px;
  text-align: start;
  width: auto;
  padding: 10px;
  background-color: #202c33;
  border-radius: 0px 15px 15px;
}

.grey .mapview{
  margin: auto;
  display: flex;
  padding: 5px;
}

.add address{
  margin-top: 10px;
  padding-left: 15px;
}

.map{
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.dateLabel{
  color: #94bab3;
  display: block;
  text-align: end;
  font-size: x-small;
}


/* help menu bold words color  */

.sk .bold{
  color: rgba(219, 154, 33, 0.822);
}


/* resume thumbnail in received class*/
.resumeThumbnail{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.downloadSpace{
  background-color: #1d282f;
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.downloadSpace .pdfname{
  display: flex;
  width: 100%;
}
.pdfname label{
  margin: auto 0px;
}
.downloadSpace img{
  width: 30px;
  cursor: pointer;
  margin: 5px;
}

/* this css is used for embedded html in messages */
.bold{
  font-weight: bold;
}

.alink{
  color: goldenrod;
  transition: all 600ms ease;
  text-decoration: none;
}

.alink:hover{
  text-decoration: none;
  color: green;
}

/* this css is used for social links message */

.social{
  padding: 10px;
}

.social .socialItem{
  width: 100%;
  border-radius: 10px;
  background-color: #94bab3;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  transition: all 500ms ease-in-out;
}

.social .socialItemI{
  margin: auto;
  padding: 10px;
  flex-direction: column;
}

.social .socialItem:hover{
  background-color: rgba(58, 170, 58, 0.863);
}
#call{
  flex-direction: column;
  text-align: center;
}

.number{
  display: none;
}




.scrollable .fullScreenDP{
  transition: all 700ms ease-in-out;
  position: absolute;;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #2f2f2fec;
  z-index: 1000;
}

::placeholder { 
  color: #8696a0;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: #8696a0;
}

::-ms-input-placeholder { 
  color: #8696a0;
}

@media screen and (min-width: 1024px) {
  .scrollable{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  #call:hover .number{
    display: block;
    height: auto;
  }
}

@media(min-width:768px){
  .grey{
    max-width: 45%;
    margin: 5px;
    text-align: start;
    width: auto;
    padding: 10px;
    background-color: #202c33;
    border-radius: 0px 15px 15px;
  }
}

@tailwind utilities;